*{
  margin: 0;
}
body {
  padding: auto;
  text-align: center;
  display: block;
  font-family: 'Press Start 2P', cursive;
  background-image: url("background.jpg");
}

#level-title {
  line-height: 1.25;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.container{
  position: relative;
  margin: 5% 10%;  
}
.box {
  width: 100%;
  height: 60vh;
  margin: auto;
  position: absolute;
}

.start{
  background-color: rgb(6, 12, 39);
  display: flex;
  justify-self: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 20px;
}

.btn-start {
  padding: 0;
  margin: auto auto;
  height: 90px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  /* background-color: #011F3F; */
  background-color: blue;
  color: #FEF2BF;
}
.btn-start:hover{
  background-color: red;
}

.btn {
  margin: 2%;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

