*{
  margin: 0;
}
body {
  text-align: center;
  display: block;
  font-family: 'Press Start 2P', cursive;
  background-image: url("background.jpg");
}

#level-title {
  font-size: 3.125rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 2%;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn-start {
  margin: 3%;
  height: 90px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  background-color: #011F3F;
  color: #FEF2BF;
}
.btn-start:hover{
  background-color: red;
}